@model PepoBebes.Models.Bebe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ABMLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Bebe</legend>

    <div class="display-label">dni</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>

    <div class="display-label">nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">vive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vive)
    </div>

    <div class="display-label">fechaNacimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaNacimiento)
    </div>

    <div class="display-label">sexo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sexo.descripcion)
    </div>

    <div class="display-label">edadGestacional</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edadGestacional)
    </div>

    <div class="display-label">peso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.peso)
    </div>

    <div class="display-label">hc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hc)
    </div>

    <div class="display-label">mamaCanguro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mamaCanguro)
    </div>

    <div class="display-label">riesgo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.riesgo.descripcion)
    </div>

    <div class="display-label">madre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.madre.dni)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
