@model IEnumerable<PepoBebes.Models.Agenda>
@{
    ViewBag.Title = "AgendaScroll";
    Layout = null;
}
<h2>
    AgendaScroll</h2>
<table id="myDataTableAgendaScroll">
    <thead>
        <tr>
            <th>
                fecha
            </th>
            <th>
                madre
            </th>
            <th>
                estado
            </th>
            <th>
                Ver
            </th>
            <th>
                Completar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.fecha < DateTime.Today && item.Status.description == "Nuevo")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bebe.madre.dni)
                    @Html.DisplayFor(modelItem => item.bebe.madre.nombre)
                    @Html.DisplayFor(modelItem => item.bebe.madre.apellido)
                </td>
                <td>
                    @if (item.bebe.sexo.descripcion == "Femenino")
                    {
                        if (item.bebe.riesgo.descripcion == "Poco")
                        { 
                        <img src="@Url.Content("~/Content/images/babyfemalepoco.png")" alt="Femenino" width="40" height="40" />
                        }
                        else
                        {
                            if (item.bebe.riesgo.descripcion == "mucho")
                            {
                        <img src="@Url.Content("~/Content/images/babyfemalemucho.png")" alt="Femenino" width="40" height="40" />
                            }
                            else
                            {
                        <img src="@Url.Content("~/Content/images/babyfemale.png")" alt="Femenino" width="40" height="40" />
                            }
                        }
                    }
                    else
                    {
                        if (item.bebe.riesgo.descripcion == "Poco")
                        { 
                        <img src="@Url.Content("~/Content/images/babymalepoco.png")" alt="Femenino" width="40" height="40" />
                        }
                        else
                        {
                            if (item.bebe.riesgo.descripcion == "mucho")
                            {
                        <img src="@Url.Content("~/Content/images/babymalemucho.png")" alt="Femenino" width="40" height="40" />
                            }
                            else
                            {
                        <img src="@Url.Content("~/Content/images/babymale.png")" alt="Femenino" width="40" height="40" />
                            }
                        }
                    }
                </td>
                <td>
                    @Ajax.ActionLink("Ver", "Edit", "Agenda", new { id = item.agendaID }, new AjaxOptions { UpdateTargetId = "contenido", LoadingElementId = "cargando" })
                    @*@Html.ActionLink("Ver", "Edit","Agenda", new { id = item.agendaID },null)*@
                </td>
                <td>
                    @Html.ActionLink("Completado", "Completar", "Agenda", new { id = item.agendaID }, new { @class = "completadoLink", onClick = "javascript:return confirm('Desea completar este evento?')" })
                </td>
            </tr>
            }
        }
    </tbody>
</table>
@*<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#myDataTableAgendaScroll').dataTable({
            "bInfo": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "sPaginationType": "full_numbers",
            "bServerSide": true,
            "sAjaxSource": "/Scroll/AjaxHandler",
            "bProcessing": true,
            "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "<a data-ajax=\"true\" data-ajax-loading=\"#cargando\" data-ajax-mode=\"replace\" data-ajax-update=\"#contenido\" href=\"/Bebes/Create\">Crear Madre</a>",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar DNI:",
                        "sUrl":          "",
                        "oPaginate": {
                                        "sFirst":    "Primero",
                                        "sPrevious": "Anterior",
                                        "sNext":     "Siguiente",
                                        "sLast":     "Último"
                                    }
                        },
            "aoColumns": [
                        { "sName": "fecha" },
			            { "sName": "madre" },
                        { "sName": "estado" },  
                        { "sName": "ver",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {
                                return '<a data-ajax="true" data-ajax-loading="#cargando" data-ajax-mode="replace" data-ajax-update="#contenido" href="/Agenda/Edit/' + oObj.aData[3] + '">Ver-></a>';
                            }
                        },
                        { "sName": "completar",
                            "fnRender": function (oObj) {
                                return '<a class=\"completadoLink\" href=\"/Agenda/Completar/' + oObj.aData[4] + '" onclick=\"javascript:return confirm(\'Desea completar este evento?\')\" >completar</a>';
                            }
                        }
		            ],
        });
    });
</script>
*@