@model IEnumerable<PepoBebes.Models.HistorialAgenda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ABMLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            fecha
        </th>
        <th>
            bebe
        </th>
        <th>
            descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bebe.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.historialAgendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.historialAgendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.historialAgendaID })
        </td>
    </tr>
}

</table>
